html * {
    font-family: "Gothic A1", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.navbar-nav {
    display: flex;
    align-items: center;
}


.navbar-nav a {
    font-size: 1rem;
    text-transform: uppercase;
}

@media screen and (max-width: 768px) {
    nav .social-links {
        position: absolute;
        right: 72px;
    }
}

#content {
    margin-top: 76px;
}

#initial .first {
    min-height: calc(70vh - 76px);
    background: url("images/banner.png") no-repeat center center;
    background-size: contain;
    background-blend-mode: overlay;
}

#initial .second {
    min-height: 40vh;
}

@media screen and (max-width: 768px) {
    #initial .first {
        min-height: calc(50vh - 56px);
    }

    #initial .second {
        min-height: 50vh;
    }
}

#initial button {
    width: 200px;
    position: absolute;
    bottom: 30px;
}

#initial .counter img {
    width: 50%;
}

@media screen and (max-width: 768px) {
    #initial .counter img {
        width: 100%;
    }
}

#about .header {
    background: #BA9CD9;
    height: fit-content;
}

#about p {
    font-size: 1.2rem;
}

.swiper .card {
    width: 260px;
    height: 300px;
}

#about .swiper-button-next, #about .swiper-button-prev {
    color: black;
}

#about .swiper img {
    width: 200px;
    height: 200px;
}

#services .header {
    background: #6ec4b1;
    height: fit-content;
}

@media screen and (min-width: 768px) {
    #services .border-right {
        border-right: 1px solid #ddd;
    }
}

#services .card-img-overlay {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

    transition: opacity 800ms ease;
    opacity: 0;
}

#services .card:hover .card-img-overlay {
    opacity: 1;
    transition: opacity 1000ms ease;
    background: rgba(0, 0, 0, 0.3);
}

#services .card:hover .card-img {
    filter: blur(0.75px);
}

#blog .header {
    background: #F59EAC;
    height: fit-content;
}

#contact {
    background: #efefef;
    margin-left: -0.75rem;
    margin-right: -0.75rem;
}

/* Helpers */

.mb-6 {
    margin-bottom: 6rem;
}

.text-justify {
    text-align: justify;
}


.dropdown-menu {
    background-color: white; /* Sets the background color to white */
    color: black; /* Sets the text color to black */
    width: auto; /* Allows the dropdown to expand based on content width */
    min-width: 100%; /* Ensures the dropdown is at least as wide as the button */
}

.dropdown-item {
    color: black; /* Ensures dropdown links are black */
}

.dropdown-item:hover {
    background-color: #f8f9fa; /* Light grey background for hover, to keep items readable */
    color: black;
}

.no-underline {
    text-decoration: none;
}
